@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    position: relative;
    float: left;
  }
  
  .navbar li {
    margin: 0 1rem;
  }
  
  .navbar a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: rgb(22, 18, 18);
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: red;
  }
  